<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= meta.title %></title>
    <link rel="stylesheet" href="../assets/css/site.css">
  </head>
  <body>
    <div id="content">
      <a href="index.html">Index</a>
      <h1><%= meta.title %></h1>
      <%- render('content') %>
    </div>
  </body>
</html>
